<div id="new-allocation">
    <h1>FILTROS</h1>

<table class="table">
    <tr>
      <%= form_tag(allocations_new_path, :method => :get) do %>
        <td>
          <%= label_tag(:capacity_filter, "Capacidade") %>
         <%= select_tag(:capacity_filter, options_for_select([ 
             [:prompt => true],
             ['0-50', "0-50"],
             ['50-100', "50-100"],
             ['100-150', "100-150"] ]), {:class => 'form-control'})  %>
        </td>
        <td>
        <%= label_tag(:resources_filter, "Recurso") %>
        <%= select_tag(:resources_filter, options_for_select([ 
            [:prompt => true],
            ['Laboratorio Químico', "Laboratorio Químico"], 
            ['Retroprojetor', "Retroprojetor"],
            ['Computadores', "Computadores"],
            ['Quadro Negro', "Quadro Negro"],
            ['Bancadas', "Bancadas"],
            ['Carteiras', "Carteiras"],
            ['Ar Condicionado', "Ar Condicionado"] ]), {:class => 'form-control'})  %>
        </td>
        <td>
        </td>
        <tr>
          <td>
            <%= label_tag(:building_filter, "Prédio") %>
            <%= select_tag(:building_filter, options_for_select(@buildings.map{ |building| [building.name, building.id] }), include_blank: true, class: 'select-filter') %>
          </td>
          <td>
            <%= label_tag(:campus_filter, "Campus") %>
            <%= select_tag(:campus_filter, options_for_select(@campi.map{ |campus| [campus.name, campus.id] }), include_blank: true, class: 'select-filter') %>
          </td>        
          <td >
              <%= submit_tag "Filtrar", name: nil, class:'btn btn-primary pull-right button-filter' %> 
          </td>
        </tr> 
      <% end %>
    </tr>
  </table> 

  <h1>Alocar Turma</h1>

  <h3>Turma</h3>
  <%= render partial: "school_rooms/show", locals: {school_room: @school_room} %>

  <%= hidden_field_tag :school_room, @school_room.id %>
  <br>
  <h3>Salas</h3>
  <br>
  <%if @coordinator_rooms.length != 0 %>
    <% @coordinator_rooms.each do |room| %>

      <!-- BLOCO CARD DA SALA <%= room.name %>-->
      <div id="Room-allocation-card">
        <div id="Room header">
          <%= render partial: "rooms/show", locals: {room: room} %>
        </div>
        <%= form_tag allocations_create_path do %>
          <% days = ["Segunda", "Terça", "Quarta", "Quinta", "Sexta", "Sábado"] %>
          <% hours = ["6","8","10","12","14","16"] %>
          <table class="table table-hover time_grid" id="hours_table">
            <tr>
              <th>Horários</th>
              <% days.each do |day| %>
                <td>
                  <strong><%= day %></strong>
                </td>
              <% end %>
            </tr>
            <% hours.each do |hour| %>
              <tr>
                <td><b><%=hour%>:00</b></td>
              <% (0..5).each do |i| %>
                  <td>1</td>
              <% end %>
              </tr>
            <% end %>
          </table>
            <%= submit_tag "Salvar", class: 'pull-right btn btn-default btn-success' %>
            <br><br><br>
        <% end %>
      </div>
      <!-- FIM DO BLOCO CARD -->

    <% end %>
  <% else %>
    <h4>Nenhuma sala encontrada</h4>
  <% end %>
  <%= will_paginate @coordinator_rooms, renderer: BootstrapPagination::Rails %>
</div>
