<div id="new-allocation">
  <h1>Alocar Turma</h1>

  <h3>Turma</h3>
  <%= render partial: "school_rooms/show", locals: {school_room: @school_room} %>

  <%= hidden_field_tag :school_room, @school_room.id %>
  <br>
  <h3>Salas</h3>
  <br>
  <% @coordinator_rooms.each do |room| %>

    <!-- BLOCO CARD DA SALA <%= room.name %>-->
    <div id="Room-allocation-card">
      <div id="Room header">
        <%= render partial: "rooms/show", locals: {room: room} %>
      </div>
      <%= form_tag allocations_create_path do %>
        <% days = ["Segunda", "Terça", "Quarta", "Quinta", "Sexta", "Sábado"] %>
        <% hours = ["6","8","10","12","14","16"] %>
        <table class="table table-hover time_grid" id="hours_table">
          <tr>
            <th>Horários</th>
            <% days.each do |day| %>
              <td>
                <strong><%= day %></strong>
              </td>
            <% end %>
          </tr>
          <% hours.each do |hour| %>
            <tr>
              <td><b><%=hour%>:00</b></td>
            <% (0..5).each do |i| %>
                <td>1</td>
            <% end %>
            </tr>
          <% end %>
        </table>
          <%= submit_tag "Salvar", class: 'pull-right btn btn-default btn-success' %>
          <br><br><br>
      <% end %>
    </div>
    <!-- FIM DO BLOCO CARD -->

  <% end %>
  <%= will_paginate @coordinator_rooms, renderer: BootstrapPagination::Rails %>
</div>
