<div class="row">
  <br>
  <h2 class="dash-text">ACOMPANHAMENTO</h2> 
  <hr style="color: #3B3C3B; height: 0.4px; width: 20%;"/>
  <h4 class="dash-text">Visualize rapidamente as 
                        solicitações de alocação e a relação de 
                        turmas não alocadas</h4>
  <br> <br>
  <a href="/reports_school_rooms/school_room/">
  <div class="col-md-4 col-sm-6 col-xs-12">
    
    <div class="info-box">
      <span class="info-box-icon bg-aqua"><i class="info-box-icon-padding fa fa-users" aria-hidden="true"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Total de Turmas</span>
        <span class="info-box-number"><%=@school_room_count%></span>
      </div>
      <!-- /.info-box-content -->
    </div>
  </div>
  </a>
  <a href="/reports_school_rooms/school_room/">
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-red"><i class="info-box-icon-padding fa fa-stream" aria-hidden="true"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Turmas Alocadas</span>
        <span class="info-box-number">  <%=@school_rooms_allocated_count%></span>
      </div>
      <!-- /.info-box-content -->
    </div>
  </div>
  </a>
  <% if permission[:level] != 0 %>
  <a href="/solicitations/index">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-yellow"><span class="info-box-icon-padding fa fa-inbox" aria-hidden="true"></span></span>
        <div class="info-box-content">
          <span class="info-box-text">Solicitações Recebidas</span>
          <span class="info-box-number"><%= @solicitation_count.count %></span>
        </div>
        <!-- /.info-box-content -->
      </div>
    </div>
  </a>
  <% end %>

  <section class="ver-todos">
		<div class="all-categories d-none d-sm-block" style="font-size: 1.5em;">
      <br> <br> <br> <br> <br> 
      <a href="/school_rooms/index">
        <button type="button" class="btn btn-primary btn-saiba-mais">Gerenciar Turmas</button>	
      </a>	
		</div>
	</section>
</div>
 
<br> <br> 
<div class="row section-stive">
  <div class="calendary">
    <h2 class="calendary-text dash-text">CALENDÁRIO</h2>
    <h4 class="dash-text">Acompanhe o calendário acadêmico de alocação de salas</h4>
    <br> 
    <table class="period-table">
      <thead>
        <tr>
          <th class="period">
            <div>
              <%= image_tag("grade.png", :size => "260x150", :align => "center")%>
            </div>
            <div>
              <strong>Período de Alocação</strong>
              <br>
            </div>
          </th>
          <th class="period">
            <div>
              <%= image_tag("adjustment.png", :size => "260x150", :align => "center")%>
            </div>
            <div>
              <strong>Período de Ajuste</strong>
              <br>
            </div>
          </th>
          <th class="period">
            <div>
              <%= image_tag("period.png", :size => "260x150", :align => "center")%>
            </div>
            <div>
              <strong>Período letivo</strong>
              <br>
            </div>          
          </th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td class="period-description"><%=@periods.first.initial_date.strftime('%d/%m/%Y')%> à <%=@periods.first.final_date.strftime('%d/%m/%Y')%> </td>
            <td class="period-description"><%=@periods.second.initial_date.strftime('%d/%m/%Y')%> à <%=@periods.second.final_date.strftime('%d/%m/%Y')%> </td>
            <td class="period-description"><%=@periods.third.initial_date.strftime('%d/%m/%Y')%> à <%=@periods.third.final_date.strftime('%d/%m/%Y')%> </td>
          </tr>
        </tbody>
    </table>
  </div>
</div>

<div class="col-xs-12">
  <div>
    <br> <br> <br>
    <h2 class="dash-text"> FLUXO DE ALOCAÇÃO</h2>
    <hr style="color: #3B3C3B; height: 0.4px; width: 20%;"/>
    <h4 class="dash-text"> Siga o fluxo básico explícito, crie suas turmas, aloque-as em salas adequadas e visualize um relatório da alocação</h4>
  </div>
  <div class="row image-flux">
    <%= image_tag("flux.png")%>
  </div>
  <div class="row">
     <a class="link-class" href="/school_rooms/index">1) Criar Turma</a>
     <a class="link-allocation" href="/school_rooms/index">2) Alocar Turma</a>
     <a class="link-report" href="/reports/by_room">3) Gerar Relatório</a>
  </div>
  <br> <br> <br> <br> <br> <br>
</div> 
