<div>
  <% if permission[:level] == 2 %>
    <%= link_to room_new_path, class: "btn btn-primary btn-success", style: "float: right;" do %>
      <span class="fa fa-plus-square"></span> Criar sala
    <% end %>
  <% end %>
  <h1>Salas</h1>
</div>
<div class="overflow-table">
  <table class="table">
    <tr>
      <%= form_tag(room_index_path, :method => :get) do %>
        <td>
            <%= label_tag(:room_id, "Sala") %>
            <%= select_tag(:room_id, options_for_select(@main_rooms.map{ |room| [room.name, room.id] }, 
            params[:room_id]), include_blank: 'Escolha uma sala', class: 'select-filter') %>
          </td>
        <td>
          <%= label_tag("Código") %>
          <%= text_field_tag 'code_selected', params[:code_selected], placeholder: 'Digite o código da sala', size: '25', class: 'form-control code-filter' %>
        </td>
        <td>
          <%= label_tag(:capacity_range, "Capacidade") %>
          <%= select_tag(:capacity_range, options_for_select([
             ['0-50', "0-50"],
             ['50-100', "50-100"],
             ['100-150', "100-150"]], params[:capacity_range]),
             include_blank: 'Escolha uma capacidade', class: 'select-filter')%>
        </td>
    </tr>

  <tr>
    <td>
      <%= label_tag(:building_id, "Prédio") %>
      <%= select_tag(:building_id, options_for_select(@buildings.map{ |building| [building.name, building.id]}, 
      params[:building_id]), include_blank: 'Escolha um prédio', class: 'select-filter') %>
    </td>
    <td>
      <%= label_tag("Departamento") %>
      <%= select_tag(:department_id, options_for_select(@department.map{ |department| [department.name, department.id, { 'data-campus' => department.campus.name } ]}, params[:department_id]),
           include_blank: 'Escolha um departamento', class: 'select-filter') %>
    </td>
    <td>
    <%= label_tag("Campus") %>
        <%= select_tag(:campus_id, options_for_select(@campi.map{ |campus| [campus.name, campus.id] }, params[:campus_id]),
         include_blank: 'Escolha um campus', class: 'select-filter')%>
    </td>
  </tr>
    <tr>
      <td>
        <br>
        <%= link_to room_index_path, class: "btn btn-primary btn-delete" do %>
          <span class="fa fa-eraser"></span> Limpar Filtros
        <% end %>
      </td>
      <td></td>
      <td>
        <br>
        <%= button_tag(type: 'submit', class: "btn pull-right btn-success", style: "margin: 0px;") do %>
          <span class="fa fa-search"></span> Pesquisar
        <% end %>
      </td>
    </tr>
      

  </table>
<% end %>
</div>

<p>
  <b>Funcionamento:&nbsp;</b>
  <%= label_tag(:id_all , "Todas") %>
  <%= radio_button_tag(:room_status_filter, "all", true, :id => "id_all") %>
  <%= label_tag(:id_active, "Ativa") %>
  <%= radio_button_tag(:room_status_filter, "active", false, :id => "id_active") %>
  <%= label_tag(:id_inactive, "Inativa") %>
  <%= radio_button_tag(:room_status_filter, "inactive", false, :id => "id_inactive") %>
</p>

<% if @rooms.count == 0 %>
  <h3>Nenhuma sala encontrada.</h3>
<% else %>
  <div class="overflow-table">
    <table class="table rooms">
      <thead>
        <tr>
          <th>Código</th>
          <th>Nome</th>
          <th>Ativo</th>
          <th>Prédio</th>
          <th>Capacidade</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="show_room">

        <%= will_paginate @rooms, renderer: BootstrapPagination::Rails %>

        <% @rooms.each do |room| %>
        <tr id="<%=((room.active) ? 'active' : 'inactive')%>">
              <td data-link="<%= room_path(room.id) %> id="<%=((room.active) ? 'active' : 'inactive')%>" ><%= room.code %></td>
              <td data-link="<%= room_path(room.id) %> id="<%=((room.active) ? 'active' : 'inactive')%>" ><%= room.name %></td>
              <td data-link="<%= room_path(room.id) %> id="<%=((room.active) ? 'active' : 'inactive')%>" id="room-status"><%=  ((room.active) ? 'Sim' : 'Não')  %></td>
              <td data-link="<%= room_path(room.id) %> id="<%=((room.active) ? 'active' : 'inactive')%>" ><%= room.building.name %></td>
              <td data-link="<%= room_path(room.id) %> id="<%=((room.active) ? 'active' : 'inactive')%>" ><%= room.capacity %></td>
              <td>
                <div class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fas fa-ellipsis-v icon"></i>
                  </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                    <% if permission[:level] != 0 %>
                      <li>
                        <%= link_to room_edit_path(room.id), :id => 'Icon edit' do %>
                          Editar
                        <% end %>
                      </li>
                    <% end %>
                    <li class="divider"></li>
                      <li>
                        <%= link_to 'Deletar', destroy_room_path(room.id), data: {confirm: "Esta ação não poderá mais ser desfeita. Tem certeza que deseja continuar?"}%>
                      </li>
                  </ul>
                </div>
              </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<%= will_paginate @rooms, renderer: BootstrapPagination::Rails %>


<script>

  $("td[data-link]").click(function() {
    event.stopPropagation();
    window.location = $(this).data("link")
  })

</script>
